
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Обучающий ресурс по Vue.js</title>
<link rel="alternate" type="application/rss+xml" title="egrappler.com" href="feed/index.html">
<link href="http://fonts.googleapis.com/css?family=Raleway:700,300" rel="stylesheet"
        type="text/css">
		<link rel="stylesheet" type="text/css" href="style.css" media="screen">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/prettify.css">
<script src="1.js"></script>
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

</head>
<body data-post="http://www.egrappler.com/free-product-documentation-template/" style="margin-top:45px">
<nav>

  
 <nav class=" container ss111">
    
      
       <a href="#welcome" class=" "><b>Атрибуты</a> 
       <a href="#benefits" class=" ">Использование выражений JavaScript</a> 
       <a href="#features" class=" ">Аргументы</a> 
       <a href="#license" class=" ">Директивы</a> 
   <br>
       <a href="#view_type" class=" ">Вычисляемые свойства</a> 
       <a href="#animation_style" class=" ">Кэширование вычисляемых свойств</a> 
       <a href="#vote_counter" class=" ">Методы-наблюдатели</b></a> 
      <!--<li><a href="#rating_icons" class=" ">Текст</a></li>
      <li><a href="#rating_titles" class=" ">Многострочный текст</a></li>
      <li><a href="#bar_colors" class=" ">Чекбоксы</a></li>-->
   
	</nav>
	 <br>  <br>
    <div class="container px-0">
      <h1>Обучающий ресурс по Vue.js</h1>
      <h3 id="welcome"> Атрибуты</h3>
      <p> 
Синтаксис двойных фигурных скобок не работает с HTML-атрибутами. Используйте вместо него директиву v-bind:
<br><br>
<code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">v-bind:id</span>=<span class="hljs-string">"dynamicId"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code><br><br>
При использовании с булевыми атрибутами (когда их наличие уже означает true) v-bind работает немного иначе. В этом примере:
<br><br>
<code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">v-bind:disabled</span>=<span class="hljs-string">"isButtonDisabled"</span>&gt;</span>Кнопка<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span></code><br><br>
Если значением isButtonDisabled будет null, undefined или false, то атрибут disabled не добавится в элемент button.

      <h3 id="benefits"> Использование выражений JavaScript</h3>
      Пока мы связывали данные со свойствами в шаблонах только по простым ключам. Но на самом деле при связывании данных Vue поддерживает всю мощь выражений JavaScript:
	  <pre class="prettyprint"><code class="hljs html">{{ number + 1 }}

{{ ok ? 'YES' : 'NO' }}

{{ message.split('').reverse().join('') }}

<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">v-bind:id</span>=<span class="hljs-string">"'list-' + id"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre>
Выражения будут вычислены как JavaScript-код в области видимости соответствующего экземпляра Vue. Единственное ограничение в том, что допускается лишь одно выражение, поэтому код ниже НЕ сработает:
<pre class="prettyprint"><span class="hljs-comment">&lt;!-- это не вычисляемое выражение, а определение переменной: --&gt;</span>
{{ var a = 1 }}

<span class="hljs-comment">&lt;!-- операторы условий не сработают, используйте условные операторы в тернарной форме: --&gt;</span>
{{ if (ok) { return message } }}</code></pre>
      <h3 id="features"> Аргументы</h3>
      Некоторые директивы могут принимать «аргумент», отделённый от названия директивы двоеточием. Например, директива v-bind используется для реактивного обновления атрибутов HTML:<br><br>
	  <code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">v-bind:href</span>=<span class="hljs-string">"url"</span>&gt;</span> ... <span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span></code>
	  <br><br>В данном случае href — аргумент, указывающий директиве v-bind связать атрибут href элемента со значением выражения url.

Другим примером будет директива v-on, которая отслеживает события DOM:<br><br>
<code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">v-on:click</span>=<span class="hljs-string">"doSomething"</span>&gt;</span> ... <span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span></code>
<br><br>В данном случае аргументом является тип события. Подробнее на обработке событий мы остановимся позднее.
      <h3 id="license"> Директивы</h3>
      Директивы — это специальные атрибуты с префиксом v-. В качестве значения они принимают одно выражение JavaScript (за исключением v-for, которую мы изучим далее). Директива реактивно применяет к DOM изменения при обновлении значения этого выражения. Вспомним пример из введения:<br><br>
	  <code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">v-if</span>=<span class="hljs-string">"seen"</span>&gt;</span>Сейчас меня видно<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span></code>
	  <br><br>В этом случае директива v-if удалит или вставит элемент <p> в зависимости от истинности значения выражения seen.
      <h3 id="view_type"> Вычисляемые свойства</h3>
    
     
      <pre class="prettyprint"><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"example"</span>&gt;</span>
  {{ message.split('').reverse().join('') }}
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre>
Встраиваемые в шаблоны выражения удобны, но могут предназначаться только для простых операций. При усложнении логики их труднее поддерживать:<br><br>
<code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"example"</span>&gt;</span>
  {{ message.split('').reverse().join('') }}
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code>
<br><br>Такой шаблон уже не выглядит простым и декларативным. С первого взгляда и не скажешь, что он всего лишь отображает message задом наперёд. Ситуация станет ещё хуже, если эту логику потребуется использовать в нескольких местах шаблона.


      <h3 id="animation_style"> Кэширование вычисляемых свойств</h3>

      <pre class="prettyprint">&<code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Сообщение задом наперёд: «{{ reverseMessage() }}»<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span></code></pre>
  
      <pre class="prettyprint">&<code class="hljs js"><span class="hljs-comment">// в компоненте</span>
methods: {
  <span class="hljs-attr">reverseMessage</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{
    <span class="hljs-keyword">return</span> <span class="hljs-keyword">this</span>.message.split(<span class="hljs-string">''</span>).reverse().join(<span class="hljs-string">''</span>)
  }
}</code></pre>
      Вместо вычисляемого свойства, можно использовать ту же самую функцию в качестве метода. С точки зрения конечного результата, оба подхода делают одно и то же. Но есть важное отличие: вычисляемые свойства кэшируются, основываясь на своих реактивных зависимостях. Вычисляемое свойство пересчитывается лишь тогда, когда изменится одна из его реактивных зависимостей. Поэтому, пока message остаётся неизменным, многократное обращение к reversedMessage будет каждый раз возвращать единожды вычисленное значение, не запуская функцию вновь.
<br>
Обратите внимание, что следующее вычисляемое свойство никогда не обновится, поскольку Date.now() не является реактивной зависимостью:
      <pre class="prettyprint"><code class="hljs js">computed: {
  <span class="hljs-attr">now</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{
    <span class="hljs-keyword">return</span> <span class="hljs-built_in">Date</span>.now()
  }
}</code></pre>
      Использование метода, напротив, будет запускать функцию всегда, при каждом обращении к нему.
<br>
Зачем нужно кэширование? Представьте, есть «дорогое» вычисляемое свойство A, требующее цикла по огромному массиву и выполняющее множество вычислений. И пусть ещё будут другие вычисляемые свойства, в свою очередь, зависящие от A. Без кэширования геттер A будет запускаться куда чаще необходимого! В тех же случаях, когда кэширования нужно избежать — используйте методы.

      <h3 id="vote_counter"> Методы-наблюдатели</h3>
   Хотя в большинстве случаев лучше использовать вычисляемые свойства, иногда необходимы пользовательские методы-наблюдатели. Поэтому Vue предоставляет более общий способ реагирования на изменения в данных через опцию watch. Эта возможность полезна для «дорогих» или асинхронных операций, выполняемых в ответ на изменение данных.
<br>
Рассмотрим пример:
      <pre class="prettyprint"><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"watch-example"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
    Задайте вопрос, на который можно ответить «да» или «нет»:
    <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">v-model</span>=<span class="hljs-string">"question"</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>{{ answer }}<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre>
<br>
      
      <pre class="prettyprint"><code class="hljs html"><span class="hljs-comment">&lt;!-- Поскольку уже существует обширная экосистема ajax-библиотек --&gt;</span>
<span class="hljs-comment">&lt;!-- и библиотек функций общего назначения, ядро Vue может       --&gt;</span>
<span class="hljs-comment">&lt;!-- оставаться маленьким и не изобретать их заново. Кроме того, --&gt;</span>
<span class="hljs-comment">&lt;!-- это позволяет вам использовать только знакомые инструменты. --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"</span>&gt;</span><span class="undefined"></span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"</span>&gt;</span><span class="undefined"></span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">script</span>&gt;</span><span class="javascript">
<span class="hljs-keyword">var</span> watchExampleVM = <span class="hljs-keyword">new</span> Vue({
  <span class="hljs-attr">el</span>: <span class="hljs-string">'#watch-example'</span>,
  <span class="hljs-attr">data</span>: {
    <span class="hljs-attr">question</span>: <span class="hljs-string">''</span>,
    <span class="hljs-attr">answer</span>: <span class="hljs-string">'Пока вы не зададите вопрос, я не могу ответить!'</span>
  },
  <span class="hljs-attr">watch</span>: {
    <span class="hljs-comment">// эта функция запускается при любом изменении вопроса</span>
    question: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">newQuestion, oldQuestion</span>) </span>{
      <span class="hljs-keyword">this</span>.answer = <span class="hljs-string">'Ожидаю, когда вы закончите печатать...'</span>
      <span class="hljs-keyword">this</span>.debouncedGetAnswer()
    }
  },
  <span class="hljs-attr">created</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{
    <span class="hljs-comment">// _.debounce — это функция lodash, позволяющая ограничить то,</span>
    <span class="hljs-comment">// насколько часто может выполняться определённая операция.</span>
    <span class="hljs-comment">// В данном случае мы ограничиваем частоту обращений к yesno.wtf/api,</span>
    <span class="hljs-comment">// дожидаясь завершения печати вопроса перед отправкой ajax-запроса.</span>
    <span class="hljs-comment">// Узнать больше о функции _.debounce (и её родственнице _.throttle),</span>
    <span class="hljs-comment">// можно в документации: https://lodash.com/docs#debounce</span>
    <span class="hljs-keyword">this</span>.debouncedGetAnswer = _.debounce(<span class="hljs-keyword">this</span>.getAnswer, <span class="hljs-number">500</span>)
  },
  <span class="hljs-attr">methods</span>: {
    <span class="hljs-attr">getAnswer</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{
      <span class="hljs-keyword">if</span> (<span class="hljs-keyword">this</span>.question.indexOf(<span class="hljs-string">'?'</span>) === <span class="hljs-number">-1</span>) {
        <span class="hljs-keyword">this</span>.answer = <span class="hljs-string">'Вопросы обычно заканчиваются вопросительным знаком. ;-)'</span>
        <span class="hljs-keyword">return</span>
      }
      <span class="hljs-keyword">this</span>.answer = <span class="hljs-string">'Думаю...'</span>
      <span class="hljs-keyword">var</span> vm = <span class="hljs-keyword">this</span>
      axios.get(<span class="hljs-string">'https://yesno.wtf/api'</span>)
        .then(<span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">response</span>) </span>{
          vm.answer = _.capitalize(response.data.answer)
        })
        .catch(<span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">error</span>) </span>{
          vm.answer = <span class="hljs-string">'Ошибка! Не могу связаться с API. '</span> + error
        })
    }
  }
})
</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span></code></pre>

В данном случае использование опции watch позволило выполнять асинхронную операцию (обращение к API), ограничивать частоту выполнения этой операции и устанавливать промежуточные состояния до получения ответа от сервера. Ничего из этого не удалось бы достичь с помощью вычисляемых свойств.
<br>
Кроме опции watch можно также использовать vm.$watch в императивном стиле.<br><br><br>
</div>
     <!-- <h3 id="rating_icons"> Rating Icons</h3>
      <ul>
        <li>Colored</li>
        <li>Grey</li>
      </ul>
      <h3 id="rating_titles"> Rating Titles</h3>
      <ul>
        <li>Text For First Star</li>
      </ul>
      <pre class="prettyprint">&lt;script&gt;
    $(document).ready(function (){
    $('#opineo').opineo('results.php', {curvalue:0, view: 'mini', star_1_text:'Hate It'});
    })	
&lt;/script&gt;</pre>
      <ul>
        <li>Text For Second Star</li>
      </ul>
      <pre class="prettyprint">&lt;script&gt;
    $(document).ready(function (){
    $('#opineo').opineo('results.php', {curvalue:0, view: 'mini', star_2_text:'Don't Like It'});
    })	
&lt;/script&gt; </pre>
      <ul>
        <li>Text For Third Star</li>
      </ul>
      <pre class="prettyprint">&lt;script&gt;
    $(document).ready(function (){
    $('#opineo').opineo('results.php', {curvalue:0, view: 'mini', star_1_text:'Its OK'});
    })	
&lt;/script&gt;</pre>
      <ul>
        <li>Text For Fourth Star</li>
      </ul>
      <pre class="prettyprint">&lt;script&gt;
    $(document).ready(function (){
    $('#opineo').opineo('results.php', {curvalue:0, view: 'mini', star_1_text:'Like It'});
    })	
&lt;/script&gt;</pre>
      <ul>
        <li>Text For Fifth Star</li>
      </ul>
      <pre class="prettyprint">&lt;script&gt;
    $(document).ready(function (){
    $('#opineo').opineo('results.php', {curvalue:0, view: 'mini', star_1_text:'Love It'});
    })	
&lt;/script&gt;</pre>

<code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">v-once</span>&gt;</span>Это сообщение никогда не изменится: {{ msg }}<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span></code>


      <h3 id="bar_colors"> Bar Colors</h3>
      <ul>
        <li>Colors of Red Bar</li>
        <li>Colors of Yellow Bar</li>
        <li>Colors of Green Bar</li>
      </ul>
    </div>
  </div>
</section>

</footer>
<script src="js/jquery.min.js"></script> 
 
<script type="text/javascript" src="js/prettify/prettify.js"></script> 
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&skin=sunburst"></script>
<script src="js/layout.js"></script>
 <script src="js/jquery.localscroll-1.2.7.js" type="text/javascript"></script>
 <script src="js/jquery.scrollTo-1.4.3.1.js" type="text/javascript"></script>
   <script type="text/javascript" src="../../wp-content/themes/piha/js/top-bar-l1.js" ></script>
  <script type="text/javascript" src="../../wp-content/themes/piha/js/bsa-ads-l1.js" ></script>
  <!--Dynamically creates analytics markup-->
  <?php include("http://www.egrappler.com/analytics.php");?>
  
</body>
</html>
