

.docs-nav {
    background-color: #f5f5f5;
    list-style: none;
    margin: 0 0 0 20px;
    padding: 15px 20px;
    font-size: 0.97em;
}




body {
    line-height: 2;
    color: #444;
    background: #fff;
}
body, input{
    font-family: "Raleway", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.content1{
    width: 1100px;
    height: 400px;
    background-image:url(pictures/);
    margin: 0 auto;
}







element.style {
    top: 49px;
}

.docs-nav.fixed {
	position: fixed;
    top: 49px;
    width: 295px;
	
}






element.style {
}
pre code {
    overflow-x: auto;
    color: #525252;
    white-space: pre;
    padding: 1.2em 1.4em;
    font-size: 0.85rem;
    line-height: 1.6rem;
    display: block;
}
code {
    color: #d63200;
    padding: 3px 5px;
    margin: 0 2px;
    border-radius: 2px;
    white-space: nowrap;
}
code, pre {
    font-family: "Roboto Mono", Monaco, courier, monospace;
    font-size: 0.85em;
    background-color: #f8f8f8;
    -webkit-font-smoothing: initial;
    -moz-osx-font-smoothing: initial;
}
user agent stylesheet
code {
    font-family: monospace;
}
user agent stylesheet
pre {
    font-family: monospace;
    white-space: pre;
}
body {
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #304455;
    background-color: #fff;
    margin: 0;
}

}
pre code.hljs.html::before, pre code.hljs.js::before, pre code.hljs.bash::before, pre code.hljs.css::before {
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    color: #ccc;
    text-align: right;
    font-size: 0.9em;
    padding: 5px 10px 0;
    line-height: 15px;
    height: 15px;
    font-weight: 600;
}

pre code {
    overflow-x: auto;
    color: #525252;
    white-space: pre;
    padding: 1.2em 1.4em;
    font-size: 0.85rem;
    line-height: 1.6rem;
    display: block;
}
code {
    /* color: #d63200; */
    padding: 3px 5px;
    margin: 0 2px;
    border-radius: 2px;
    white-space: nowrap;
}


 a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
	color: #42b983;
	
   } 
   a:active {
    color: #f00; /* Цвет активной ссылки */ 
   } 
@media screen and (min-device-width: 576px) {
    .table {
        width: 60%;
    }

ul {
    list-style-type: disc;
}

@media screen and (max-width: 1280px) { div.contentblock {width: 1200px;} } @media screen and (max-width: 1140px) { div.contentblock {width: 1024px;} } @media screen and (max-width: 992px) { div. contentblock {width: 970px;} } 


.ss111 {
  position: fixed;
  top: 5px;
    width: 295px;
  border: 4px solid #456;
   background: #fff;
  border-radius: 15px;
  
}